<%- include('../partials/header') %>

<h2>&emsp;<%= ticket.title %> <br></h2>
id: <%= ticket.id %> <br>
Description: <%= ticket.description %> <br>
State: <%= ticket.state %> <br>
Create: <%= ticket.createdAt %> <br>
<br><br>
<a href="/tickets/<%= ticket.id %>/edit" class="btn btn-primary btn-sm">Edit</a> 
<a href="/tickets" class="btn btn-primary btn-sm">Cancel</a> 
<br>