<%- include('../partials/header') %>


<div class="container">

  <a href="/users/new" class="btn">new</a>

  <table class="table">
        <thead>
          <tr>
            <th scope="col">Email</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% thing.forEach((ele) => { %>
              <tr>
                <td><%= ele.email %> </td>
                <td><%= ele.email %> </td>
                <td><%= ele.email %> </td>
                <td>
                  <a href="/users/<%= ele.id %> " class="btn">edit</a>
                </td>
              </tr>
          <% }) %> 
        </tbody>
      </table>
</div>